.letter-enter {
  font-size: 12px;
  transition: font-size 1s ease-out;
}

.letter-enter.letter-enter-active {
  opacity: 1;
}

.letter-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.letter-leave.letter-leave-active {
  opacity: 0.01;
}

.letter-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.letter-appear.letter-appear-active {
  opacity: 1;
}
